name: CI-CD

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *' #daily

env:
  IMAGE_API: online-reputation-api
  IMAGE_TRAINING: sentiment-training
  HF_MODEL_REPO: CrisLap/sentiment-model
  HF_SPACE_REPO: CrisLap/online-reputation-api

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - run: pip install -r requirements.txt -r requirements-dev.txt
      - run: python -m compileall .

  lint-test:
    runs-on: ubuntu-latest
    needs: validate
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - run: pip install -r requirements.txt -r requirements-dev.txt
      - run: black --check .
      - run: flake8 .
      - run: python -m pytest -v

  build:
    runs-on: ubuntu-latest
    needs: lint-test
    steps:
      - uses: actions/checkout@v4
      - run: docker build -t $IMAGE_API .
      - run: docker build -f Dockerfile.training -t $IMAGE_TRAINING .

  train-and-push-model:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - run: pip install -r requirements.txt
      - run: python -m training.train --epoch 5
      - run: |
          pip install huggingface_hub
          python - <<EOF
          from huggingface_hub import HfApi
          api = HfApi(token="${{ secrets.HF_TOKEN }}")
          api.upload_file(
              path_or_fileobj="models/sentiment_ft.bin",
              path_in_repo="sentiment_ft.bin",
              repo_id="${HF_MODEL_REPO}",
              repo_type="model"
          )
          EOF

  deploy-space:
    runs-on: ubuntu-latest
    needs: train-and-push-model
    steps:
      - uses: actions/checkout@v4
      - run: |
          git config --global user.email "ci@github.com"
          git config --global user.name "CI Bot"
      - run: |
          git push https://CrisLap:${{ secrets.HF_TOKEN }}@huggingface.co/spaces/${HF_SPACE_REPO}.git main







