name: Training Pipeline

on:
  workflow_run:
    workflows: ["CI/CD Pipeline"]
    types: [completed]
  workflow_dispatch:
    inputs:
      epoch:
        description: 'Number of training epochs'
        default: '5'
      lr:
        description: 'Learning rate for training'
        default: '0.1'
  schedule:
    - cron: '0 2 * * 4'

env:
  REGISTRY: ghcr.io
  ORG: crislap
  PROJECT: mlops-monitoring-a-company-s-online-reputation
  IMAGE_TRAINING: training

jobs:

  train:
    name: Train Model
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Pull training image
        run: |
          docker pull ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.PROJECT }}/${{ env.IMAGE_TRAINING }}:latest

      - name: Run training inside container
        run: |
          docker run --rm \
            -e EPOCH=${{ github.event.inputs.epoch || '5' }} \
            -e LR=${{ github.event.inputs.lr || '0.001' }} \
            -v $PWD/artifacts:/artifacts \
            -w /app \
            -e PYTHONPATH=/app \
            ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.PROJECT }}/${{ env.IMAGE_TRAINING }}:latest \
            python -m training.train --output /artifacts

      - name: Validate model
        run: |
          test -f artifacts/sentiment_ft.bin

      - name: Save metadata
        run: |
          mkdir -p "$GITHUB_WORKSPACE/artifacts"
        
          EPOCH="5"
          LR="0.001"
          GIT_SHA="${{ github.sha }}"
          TRAINED_AT="$(date -u +'%Y-%m-%dT%H:%M:%SZ')"
        
          cat > "$GITHUB_WORKSPACE/artifacts/metadata.json" <<EOF
          {
            "git_sha": "$GIT_SHA",
            "epoch": "$EPOCH",
            "lr": "$LR",
          "trained_at": "$TRAINED_AT"
          }
          EOF}
        
        
      
        
      - uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: artifacts/


